ul, ol{
	display: flex;
}

ul li, ol li {
	width: 25%;
	text-align: center;
}
ul li {
	list-style-type: none;
}

header h1 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	height: 200px;
	text-align: center;
}

footer ol li {
	list-style-position: inside;
	padding-top: 100px;
}

a, a:hover, a:visited, a:active {
	color: blue;
}

section {
	padding-bottom: 25px;
	padding-top: 25px;
}
