@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$black: #000000;
$white: #ffffff;

$contact-button: #006FFF;
$gray-button: #68777E;

$card-bg: #F8F9FB;

$thumb-bg: #51545B;

$font: 'Roboto', sans-serif;

$mobile-width: 768px;

$contact-color: lightblue;
