* {
	font-family: Arial, Helvetica, sans-serif;
}

#intro-container {
	/* Posicionamiento del elemento e imagen de fondo */
	background-image: url('../img/jane-doe.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 1200px;

	/* Alineamiento de los elementos hijos en el medio  */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: scroll;
}


#intro-container h1, h3, button  {
	text-align: center;
	margin: 10px;
}

.text-white {
	color: white;
}

#intro-header {
	font-size: 50px;
}

#intro-secondary {
	margin-top: 40px;
}

#intro-button { 
	padding: 5px;

}

